body {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    margin: 0px;
}

.legend {
    font-weight: 600;
}

.bar {
    -webkit-box-shadow:inset 0px 0px 0px 1px black;
    -moz-box-shadow:inset 0px 0px 0px 1px black;
    box-shadow:inset 0px 0px 0px 1px black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom:4px;
}

h3 {
    font-weight: 600;
}

.bar span {
    margin-left: 10px;
    font-size: 0.8em;
}